make.sys
TODO
wien2wannier-*.tar
wien2wannier-*.tar.gz
SRC_trig/convham
SRC_trig/findbands
SRC_trig/join_vectorfiles
SRC_trig/rephase
SRC_trig/shifteig
SRC_trig/vec2ascii
SRC_trig/w2waddsp
SRC_trig/write_inwplot
SRC_trig/write_win_backend
SRC_trig/*.o
SRC_w2w/lib/
SRC_w2w/libc/
SRC_w2w/libr/
SRC_w2w/w2w
SRC_w2w/w2wc
SRC_wplot/lib/
SRC_wplot/libc/
SRC_wplot/libr/
SRC_wplot/wplot
SRC_wplot/wplotc
doc/wien2wannier_userguide*.log
doc/wien2wannier_userguide.aux*
doc/wien2wannier_userguide.d
doc/wien2wannier_userguide.fls
doc/wien2wannier_userguide.maf
doc/wien2wannier_userguide.mtc*
doc/wien2wannier_userguide.out*
doc/wien2wannier_userguide.out.make
doc/wien2wannier_userguide.tdo
doc/wien2wannier_userguide.toc*
doc/auto
